<div class="jumbotron">
    <div class="container">
        <h1>About us</h1>
        <p>Steve Wagner is a well hung guy in Cartrsville. <a href="https://onemonthrails.com">One Month Rails</a>.</p>
    </div>
</div>
