<div class="jumbotron">
    <div class="container">
        <h1>Main Services </h1>
        <p>I would like to learn how to build in Ruby on Rails. Learning Rails first and then getting into the details with Ruby and programming fundamentals. <a href="https://onemonthrails.com">One Month Rails</a>.</p>
    </div>
</div>
